html {
    scroll-behavior: smooth;
}

body {
    font-family: "Yu Gothic Medium", "Meiryo", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    color: #444;
}


/*"Noto Sans JP",*/

.font-notosans {
    font-family: "Noto Sans JP";
}

.font-notoserif {
    font-family: 'Noto Serif JP', serif;
}


/*width.height*/

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.h-65px {
    height: 65px;
}

.h-300px {
    height: 300px;
}

.mw-800px {
    min-width: 800px;
}

.mh-400px {
    min-height: 400px;
}

.mh-800px {
    min-height: 800px;
}

.vh-70 {
    height: 70vh;
}

@media (min-width:768px) {
    .w-md-50 {
        width: 50%!important;
    }
    .w-md-80 {
        width: 80%!important;
    }
    .w-md-100 {
        width: 80%!important;
    }
    .w-md-auto {
        width: auto!important;
    }
    .w-md-450px {
        width: 450px!important;
    }
    .w-md-600px {
        width: 600px!important;
    }
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75%!important;
    }
    .w-lg-280px {
        width: 280px;
    }
    .w-lg-auto {
        width: auto!important;
    }
}

@media (min-width: 1200px) {
    .w-xl-1140px {
        width: 1140px!important;
    }
}


/*text*/

.text-pink {
    color: #e4007f;
}

.text-gray {
    color: #ccc;
}

.text-ct {
    color: #11a196;
}

.text-white,
a.text-white,
a.text-white:hover {
    color: #fff;
    text-decoration: none;
}

a.text-dark,
a.text-dark:hover {
    text-decoration: none;
}

.font-middle {
    font-size: 1rem;
}

.font-middle {
    font-size: 1rem;
}

.font-xmiddle {
    font-size: 1.1rem;
}

.font-xxmiddle {
    font-size: 1.4rem;
}

.font-xxxmiddle {
    font-size: 1.6rem;
}

.font-large {
    font-size: 2rem;
}

.font-xlarge {
    font-size: 2.4rem;
}

.font-xxlarge {
    font-size: 3rem;
}

@media (min-width:768px) {
    .font-md-large {
        font-size: 2rem;
    }
    .font-md-xlarge {
        font-size: 2.4rem;
    }
    .font-md-xxlarge {
        font-size: 3rem;
    }
}

.line-height-0 {
    line-height: 0;
}

.line-height-1 {
    line-height: 1;
}

.line-height-1-2 {
    line-height: 1.2;
}

.line-height-1-4 {
    line-height: 1.4;
}

.line-height-1-6 {
    line-height: 1.6;
}

.line-height-2 {
    line-height: 2;
}

@media (min-width:992px) {
    .line-height-lg-65px {
        line-height: 65px;
    }
}

.letter-spacing-1 {
    letter-spacing: 1rem;
}


/*background*/

.bg-white {
    background-color: #fff;
}

.bg-lgray {
    background-color: #eee;
}

.bg-lblue {
    background-color: #f2f9ff;
}

.bg-ct {
    background-color: #11a196;
}

.bg-kv {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
    color: #fff;
}

.bg-kv.active {
    background-image: url('/asset/img/rpa/kv_column.png');
}


/*border*/

.border-bold {
    border-width: 4px!important;
}

.border-ct {
    border-color: #11a196!important;
}

.border-top-lg {
    border-top: 1px solid #ccc;
}

@media (min-width:992px) {
    .border-top-lg {
        border: none;
    }
}


/*table*/

.table-border {
    width: 100%;
}

.table-border td,
.table-border th {
    border: 1px solid #ccc;
    padding: 1rem;
}

.table-border th {
    background-color: #eee;
    text-align: center;
}


/*btn-nav*/

.btn-img {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.btn-img:hover>img {
    opacity: 0.7;
}

.btn-cv {
    background-color: #11a196;
    border: 2px solid #11a196;
    color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.btn-cv:hover {
    background-color: #fff;
    color: #11a196;
}

.btn-totop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100;
    background: #000;
    border-radius: 6px;
    transform: translate(0, 0);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.btn-totop>a {
    width: 50px;
    height: 50px;
    padding-top: 3px;
    line-height: 0;
    display: block;
    text-align: center;
    font-size: 40px;
    color: white;
}

.btn-totop.is-firstview {
    transform: translate(0, 200px);
}


/*other*/

.badge-warning {
    background-color: #e4007f;
    color: #fff;
}

.badge-secondary {
    background-color: #ccc;
    color: #222;
}

.dec-triangle {
    position: relative;
    margin-bottom: 50px;
}

.dec-triangle:after {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 40px 60px 0 60px;
    content: "";
}

.dec-triangle.dec-cv:after {
    border-color: #11a196 transparent transparent transparent;
}

.dec-left_border {
    border-left: 10px solid #11a196;
    padding-left: .6rem;
    display: block;
}

.nav-item:hover {
    background: #eee;
}

.overflow-x-hidden {
    overflow-x: hidden;
}


/*motion*/

.trans {
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.trans.is-trans-active {
    opacity: 1;
    transform: translate(0, 0);
}

.trans-wait-1 {
    transition-delay: 0.1s;
}

.trans-wait-2 {
    transition-delay: 0.2s;
}

.trans-wait-3 {
    transition-delay: 0.3s;
}

.trans-wait-4 {
    transition-delay: 0.4s;
}

.trans-wait-5 {
    transition-delay: 0.5s;
}

.trans-wait-6 {
    transition-delay: 0.6s;
}

.trans-wait-9 {
    transition-delay: 0.9s;
}

.trans-wait-12 {
    transition-delay: 1.2s;
}

.trans-wait-15 {
    transition-delay: 1.5s;
}

.trans-top_small {
    transform: translate(0, -30px);
}

.trans-left_small {
    transform: translate(-30px, 0);
}

.trans-right_xsmall {
    transform: translate(10px, 0);
}

.trans-right_small {
    transform: translate(30px, 0);
}

.trans-bottom_xsmall {
    transform: translate(0, 10px);
}

.trans-bottom_small {
    transform: translate(0, 30px);
}

.trans-left_large {
    transform: translate(-90%, 0);
    transition-duration: 1.0s;
}

.trans-right_large {
    transform: translate(90%, 0);
    transition-duration: 1.0s;
}

.trans-duration-slow {
    transition-duration: 1.0s;
}

.trans-duration-slow2 {
    transition-duration: 2.0s;
}

@media print {
    .trans {
        opacity: 1!important;
        transform: translate(0, 0)!important;
    }
}