/*
Theme Name: Lightning
Text Domain: lightning
Theme URI: https://lightning.nagoya
Description: Lightning is a very simple & easy to customize theme which is based on the Bootstrap. It is also very friendly with custom post types and custom taxonomies. When you add a new one, the breadcrumbs will be adjusted and posts will look beautifully without editing or adding a template files.
Author: Vektor,Inc.
Author URI: https://www.vektor-inc.co.jp
Version: 14.5.4
Requires at least: 5.3
Tested up to: 5.8.0
Requires PHP: 5.6.0
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html


Lightning WordPress theme, Copyright (C) 2015-2021 Vektor,Inc.
Lightning WordPress theme is licensed under the GPL.

Lightning WordPress Theme bundles the following third-party resources:

Font Awesome icon font, Copyright 2012 Fonticons, Inc.
its fonts are licensed under the terms of the SIL OFL License 1.1, and its code is licensed under the terms of the MIT license
Source: https://fontawesome.com/

Bootstrap framework, Copyright 2011 Bootstrap Authors and Twitter, Inc.
Bootstrap is licensed under the terms of the MIT license
Source: https://getbootstrap.com/

CSS Simple Tree Shaking
CSS Simple Tree Shaking is licensed under the terms of the GNU General Public License v2 license
Source: https://celtislab.net/
*/


/*site-header*/

.site-header {
    border-bottom: 1px solid #ccc;
}

.site-header-logo {
    margin: 5px 0;
}

.site-header-logo img {
    max-height: 50px;
}

.global-nav-list>li {
    min-height: 60px;
}

.global-nav-list>li:last-child a {
    background-color: #11a196;
    color: #fff;
}

.global-nav-list>li:before {
    border-bottom: 3px solid #11a196;
}

.site-body {
    min-height: 90vh;
}


/*
page-header
*/

.page-header {
    background-color: #fff;
    color: #3e383e;
    border-bottom: 1px solid #ddd;
}

.page-header-title,
h1.page-header-title {
    font-size: 1.6rem;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 1rem;
}

.page-header.page-create,
.page-header.page-webmarketing,
.page-header.page-rpa,
.page-header.page-others,
.page-header.page-column,
.page-header.page-service,
.page-header.page-company,
.page-header.page-recruit {
    background-size: cover;
    min-height: 200px;
}

.page-header.page-create,
.page-header.page-webmarketing,
.page-header.page-rpa,
.page-header.page-others,
.page-header.page-column {
    background-image: url('https://labu.co.jp/asset/img/kv_column.jpg');
    background-position: center right;
    color: #fff;
}

.page-header.page-service {
    background-image: url('https://labu.co.jp/asset/img/kv_service.jpg');
    background-position: center right;
    color: #fff;
}

.page-header.page-company {
    background-image: url('https://labu.co.jp/asset/img/kv_company.jpg');
    background-position: top right;
    color: #fff;
}

.page-header.page-recruit {
    background-image: url('https://labu.co.jp/asset/img/kv_recruit.png');
    background-position: top right;
    color: #fff;
}

.page-header.page-create .page-header-title,
.page-header.page-webmarketing .page-header-title,
.page-header.page-rpa .page-header-title,
.page-header.page-others .page-header-title,
.page-header.page-column .page-header-title,
.page-header.page-service .page-header-title,
.page-header.page-recruit .page-header-title {
    background: rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
}

.page-header.page-recruit .page-header-title {
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 782px) {
    .page-header.page-webmarketing,
    .page-header.page-create,
    .page-header.page-rpa,
    .page-header.page-others,
    .page-header.page-column,
    .page-header.page-service,
    .page-header.page-company,
    .page-header.page-recruit {
        height: 30vh;
    }
    .page-header-title,
    h1.page-header-title {
        font-size: 2.8rem;
        letter-spacing: .5rem!important;
        padding: 0 1rem 0 1.5rem;
    }
}

.global-nav-list>li>ul.sub-menu {
    background-color: rgba(0, 0, 0, 0.85);
}

.breadcrumb {
    background-color: #f8f9fa;
    font-size: 14px;
}


/*h2*/

.entry-title--post-type--page,
h2 {
    border: none;
    color: var(--vk-color-primary);
    font-size: 1.4rem;
}

.type-post h2 {
    margin-bottom: .3rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .5rem;
    border-left: .5rem solid var(--vk-color-primary);
}

@media (min-width: 992px) {
    h2 {
        font-size: 1.8rem;
    }
    .type-post h2 {
        font-size: 1.4rem;
    }
}


/*entry-body*/

.type-post .entry-body {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 992px) {
    .type-page .entry-body {
        width: 900px;
        margin: 0 auto;
    }
}


/*table*/

table td,
table th {
    font-size: var(--vk-size-text-m);
    border: 1px solid #ccc;
	background:#fff;
}

table th {
    background: #eee;
}


/*entry-meta-item*/

.entry-meta-item-author,
.entry-meta-item-updated {
    display: none;
}


/*site-footer*/

.site-footer {
    border: none;
}

.footer-nav {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.site-footer-copyright {
    border: none;
    background: #3f393f;
    color: #fff;
    text-align: center;
}


/*CTA*/

.area_cta {
    position: relative;
    background-color: #eee;
    padding: 70px 10px 40px 10px;
    min-height: 200px;
}

.area_cta::before {
    position: absolute!important;
    left: 50%!important;
    top: 0!important;
    transform: translateX(-50%)!important;
    content: "";
    opacity: 1!important;
    background-image: url('https://labu.co.jp/asset/img/fig_arrowdown.png?20210728');
    background-repeat: no-repeat;
    width: 120px;
    height: 50px;
    background-size: auto;
    background-color: none;
}

.bnr_cta{
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
}
.bnr_cta img{
	width:100%;
	height:auto;
	display:block;
}
@media (min-width: 992px) {
	.bnr_cta{
		width:400px;
	}
}

/*accordion*/
.accordion{
	border:1px solid #ccc;
	background:#f0f0f1;
}

.accordion_body {
    display: none;
    padding: 1rem;
}

.accordion_btn {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
	font-size:1rem;
}
.accordion_btn:hover,
.accordion_btn.is-active{
	background-color:#f0f0f1;
}
.accordion_btn:after{
    font-family: "Font Awesome 5 Free";content: "\f13a";font-weight: bold;
    color: var(--vk-color-primary);
	margin-left:1rem;
}
.accordion_btn.is-active:after{
    font-family: "Font Awesome 5 Free";content: "\f139";font-weight: bold;
    color: var(--vk-color-primary);
	margin-left:1rem;
}

/*label*/
.text-highlight{
	color:#e4007f;
}
.label-highlight {
    background: #e4007f;
    color: #fff;
    padding: 1px 5px;
    margin-left: .5rem;
    font-size: .8rem;
}


/*animation*/

.trans {
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.trans-duration-slow {
    transition-duration: 1.0s;
}

.trans-left_small {
    transform: translate(-30px, 0);
}

.trans-right_small {
    transform: translate(30px, 0);
}

.trans-wait-2 {
    transition-delay: 0.2s;
}

.trans-wait-4 {
    transition-delay: 0.4s;
}

.trans.is-trans-active {
    opacity: 1;
    transform: translate(0, 0);
}


/*home*/

.home_keyvisual {
    margin: 0 auto;
}

.home_keyvisual img {
    margin: 0 auto;
    //padding-top: 10px;
    opacity: 0;
    transition-timing-function: ease;
    transition-delay: 0.5s;
    transition-duration: 1.0s;
    transform: translate(0, 10px);
}

.home_keyvisual img.is-active {
    opacity: 1;
    transform: translate(0, 0);
}

.home_sec1 {
    border-top: 1px solid #ccc!important;
}

.home_sec1 .wp-block-cover__inner-container {
    color: #333!important;
}

.home_sec1 p {
    margin: 0;
    padding: 1rem 0 .6rem!important;
}

.home_sec1 p::before {
    content: "NEW";
    color: #fff;
    background-color: #11a196;
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 14px;
    margin-right: .6rem;
}

.home_sec1 a {
    margin-top: .6rem;
    display: block;
}

@media (min-width: 1200px) {
    .home_keyvisual {
        min-height: 417px;
        /*margin-left: calc(50% - 50vw);*/
        /*margin-right: calc(50% - 50vw);*/
    }
    .home_keyvisual img {
        margin: 0 auto;
    }
}

.home_sec2 {
    padding: 3rem 1.6rem!important;
    border-top: 1px solid #ccc;
    min-height: 300px;
    background-color: #eee!important;
    background-image: url('https://labu.co.jp/asset/img/bg-home_sec2.png?2021072001');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1!important;
}

@media (min-width: 500px) {
    .home_sec2 {
        padding: 3rem 0 4rem!important;
    }
}

.home_sec2_h2 {
    margin-top: 0;
    padding-top: 0;
}

.home_sec2 .wp-block-columns {
    margin-bottom: 0;
}

.home_sec2 p {
    margin-bottom: 0;
}

.home_sec3_h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.6rem;
    padding: 0;
}

.home_sec3_h3 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
    font-weight: 100;
    border: none;
}

.home_sec3_h3:after {
    border: none;
}

.home_sec3_columns {
    margin-top: 2rem;
}

.home_sec4 {
    border: 1px solid #ccc;
    margin: 0 auto;
}

@media (min-width: 992px) {
    body.home .entry-body {
        width: 100%;
    }
    .home .veu_postList {
        border: 1px solid #ccc;
        width: 75%;
        margin: 0 auto 5rem;
    }
    .home .postList_title,
    .home .postList_date {
        display: inline-block;
        font-size: 16px;
    }
    .home .postList_date {
        width: 150px;
        margin-left: 1rem;
    }
    .home_sec1 a {
        margin-top: 0;
        display: inline-block;
    }
}

.contact_sec1 {
    margin: 0!important;
}

.contact_sec1 img {
    border: 1px solid #999;
    margin-bottom: 0;
}